//Green
$green-0: #f5fffa;
$green-10: #b4e7cc;
$green-20: #7ccca3;
$green-30: #50b380;
$green-40: #329c65;
$green-50: #1e8952;
$green-60: #117b45;
$green-70: #09713b;
$green-80: #056935;
$green-90: #026431;
$green-100: #00612f;

//Blue
$blue-0: #f5f9fc;
$blue-10: #aedbfa;
$blue-20: #69bdf5;
$blue-30: #2da1ee;
$blue-40: #0089e5;
$blue-50: #0081d8;
$blue-60: #0077c7;
$blue-70: #006ab1;
$blue-80: #005b97;
$blue-90: #00497a;
$blue-100: #00375c;

//Teal
$teal-0: #f2fffe;
$teal-10: #a4e6e1;
$teal-20: #63cbc4;
$teal-30: #32b0a8;
$teal-40: #129990;
$teal-50: #00867d;
$teal-60: #00776f;
$teal-70: #006c65;
$teal-80: #00645e;
$teal-90: #005f59;
$teal-100: #005c56;

//Purple
$purple-0: #fcf7ff;
$purple-10: #edd1fc;
$purple-20: #ddaaf6;
$purple-30: #cb87ed;
$purple-40: #b96ae1;
$purple-50: #a652d0;
$purple-60: #913ebb;
$purple-70: #792d9f;
$purple-80: #5f207e;
$purple-90: #421559;
$purple-100: #2f0e40;

//Red
$red-0: #fff4f3;
$red-10: #fec1be;
$red-20: #fd908a;
$red-30: #fa645c;
$red-40: #f74036;
$red-50: #f32419;
$red-60: #ed0f03;
$red-70: #e60b00;
$red-80: #dd0b00;
$red-90: #d30b00;
$red-100: #bf0a00;

//Orange
$orange-0: #fff5f0;
$orange-10: #fdc5aa;
$orange-20: #f99766;
$orange-30: #f46e2b;
$orange-40: #ec4f00;
$orange-50: #e14b00;
$orange-60: #c40;
$orange-70: #c24100;
$orange-80: #ad3a00;
$orange-90: #953200;
$orange-100: #7d2a00;

//Black
$grey-0: #fcfcfc;
$grey-10: #dfe2e3;
$grey-20: #c3c7ca;
$grey-30: #a8aeb1;
$grey-40: #8e9498;
$grey-50: #767c80;
$grey-60: #5e6367;
$grey-70: #464b4e;
$grey-80: #303335;
$grey-90: #191a1c;
$grey-100: #020203;
